* {
  font-size: x-large;
  font-family: 'pressStart2p';
}

body {
  background-color: #333333;
  color: #f3f3f3;
}

h1, h2 {
  color: #dbdbca;
  font-size: xx-large;
}

a:link {
  color: #f3f0f6;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: #f38a8a;
  text-decoration: none;
}
