* {
  font-size: x-large;
  font-family: 'pressStart2p';
}

body {
  background-color: #333333;
  color: #f3f3f3;
}

p {
  display: inline;
}

h1, h2 {
  font-size: xx-large;
}

h2 {
  color: #dbdbca;
}

h1 {
  color: #ede3f7;
}

#love {
  color: #ff40a0;
}

#image {
  max-width:35%;
  max-height:35%;
  display: block;
  object-fit: contain;
}

a:link {
  color: #f3f0f6;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: #f38a8a;
  text-decoration: none;
}
